{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "plugins": ["promise"],
  "extends": [
    "plugin:promise/recommended",
    "airbnb",
    "prettier",
    "prettier/flowtype"
  ],
  "rules": {
    "comma-dangle": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": 0,
    "no-magic-numbers": 0,
    "no-unused-vars": "warn",
    "quotes": [
      "error",
      "single",
      {"avoidEscape": true, "allowTemplateLiterals": true}
    ]
  }
}
