.textCenter {
  display: block;
  margin: auto;
  text-align: center;
}
.layout {
  width: 'auto';
  display: 'block';
  margin-left: 24px;
  margin-right: 24px;
}
.paper {
  margin-top: 64px;
  display: 'flex';
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: 'column';
  align-items: 'center';
  padding: 16px 24px 24px;
}
.paperDashboard {
  margin-top: 88px;
  margin-bottom: 24px;
  margin-left: auto;
  width: 95vw;
  margin-right: auto;
  padding: 16px 24px 24px;
}
.rest {
  height: 100vh;
}
.form {
  width: '100%';
  margin-top: 8;
}
.submit {
  margin-top: 24;
}
.signup {
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 12px;
}

.logo {
  display: block;
  margin: auto;
  width: 40%;
}

.displayErrorSignup {
  padding-top: 10px;
}

.dashboardComponent {
  flex-grow: 1;
  padding: 12px;
  height: '100vh';
  overflow: 'auto';
  padding-top: 88px;
  padding-left: 24px;
}
.dashboardComponent2 {
  flex-grow: 1;
  padding: 12px;
  height: '100vh';
  overflow: 'auto';
  padding-top: 12px;
  padding-left: 24px;
}

.accountOverviewItem {
  padding-left: 24px;
}

.requestFormToggleLocation {
  height: 156;
  padding: 4px 8px;
  display: 'flex';
  align-items: 'center';
  justify-content: 'flex-start';
  margin: 4px 0px;
}
.row {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
}
.col {
  display: table-cell;
}
